:root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(Images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: monospace;
    letter-spacing: 1px;
}
#hero-card{
    display: flex;
    flex-direction: column;
    background-color:#124E66;
    color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
                -2px -2px 5px rgba(20,0,0,0.3);
    text-align: center;
    align-content: center;
}
#convertButton{
    padding: 10px 20px;
    background-color: #bcbcbc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
#result{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;}